<!DOCTYPE html>
<html>​
    <head>​
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Beside the Park</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet" >

    </head>​

    <body>​
        <div id="page">
            <script id="header" type="x-handlebars-template">
                <h1> {{title}} </h1>
                <p> {{text}}</p>
                <p> {{text}}</p>
        ​    </script>

        </div>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>​
    <script type="text/javascript" src="js/jquery-handlebars-1.1.4.min.js"></script>​
    <script type="text/javascript" src="js/main.js"></script>
    </body>​
</html>
